node_red_flow_espnow_mpd.txt
[
    {
        "id": "4fc3a185fe96f537",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "afbd58eaa8929b43",
        "type": "serial in",
        "z": "4fc3a185fe96f537",
        "name": "",
        "serial": "7e867430e8cd5e56",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "0764b08ebb0843d1",
                "550e07c2ef1bf2d5"
            ]
        ]
    },
    {
        "id": "1da0151641a6c273",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": "mpc load Radia_jazz",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 720,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "550e07c2ef1bf2d5",
        "type": "debug",
        "z": "4fc3a185fe96f537",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 300,
        "wires": []
    },
    {
        "id": "0764b08ebb0843d1",
        "type": "switch",
        "z": "4fc3a185fe96f537",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "load playlist1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "load playlist2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mpc play",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mpc pause",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mpc stop",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mpc clear",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mpc next",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mpc prev",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "spusti vysílač",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mpc toggle",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "reboot",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "shutdown",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 12,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "a1a4dde8e3daef82"
            ],
            [
                "982bed68593980d9"
            ],
            [
                "4eb259caca5c8498"
            ],
            [
                "823abbd47ec83497"
            ],
            [
                "b7f3de3d574967ab"
            ],
            [
                "225b8642b5a2e5a8"
            ],
            [
                "09bbfcca370afc5e"
            ],
            [
                "ba846f5ec8005415"
            ],
            [
                "c6b862862033cfd6"
            ],
            [
                "57064b4e4b8e6d2b"
            ],
            [
                "0bbf41cdef32e943"
            ],
            [
                "548f0668444a540c"
            ]
        ]
    },
    {
        "id": "a1a4dde8e3daef82",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": "mpc load playlist1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 590,
        "y": 60,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4eb259caca5c8498",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": "mpc play ",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "823abbd47ec83497",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": "mpc pause",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 280,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b7f3de3d574967ab",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": "mpc stop",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "225b8642b5a2e5a8",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": "mpc clear",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 700,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "09bbfcca370afc5e",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": "mpc next",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 680,
        "y": 260,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ba846f5ec8005415",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": "mpc prev",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 740,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e51d08507bbbaa79",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": " sox -v 1.5 -t mp3 http://192.168.4.127:8000/ -t wav --input-buffer 80000 -r44100 -c2 - compand 0.01,1 -90,-90,-70,-70,-60,-20,0,0 0 | sudo /home/pi/install/rpitx/pifmrds -freq 102.3 -audio -",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 600,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c6b862862033cfd6",
        "type": "debounce",
        "z": "4fc3a185fe96f537",
        "time": 1000,
        "name": "",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "e51d08507bbbaa79"
            ]
        ]
    },
    {
        "id": "57064b4e4b8e6d2b",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": "mpc toggle",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 670,
        "y": 300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0bbf41cdef32e943",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": "sudo reboot",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "982bed68593980d9",
        "type": "debounce",
        "z": "4fc3a185fe96f537",
        "time": 1000,
        "name": "",
        "x": 480,
        "y": 100,
        "wires": [
            [
                "1da0151641a6c273"
            ]
        ]
    },
    {
        "id": "548f0668444a540c",
        "type": "exec",
        "z": "4fc3a185fe96f537",
        "command": "sudo halt",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 640,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7e867430e8cd5e56",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]
